body {
    min-height: 4096px; /* Taille minimale du body à 4096px */
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Hauteur du footer, à ajuster selon vos besoins */
    background-color: #ccc; /* Couleur de fond par défaut */
}